*{
    font-family: 'Kumbh Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background: #1e1e20;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    position: sticky;
    top:0;
    z-index: 999; /* to keep it above every content given */
}

.navContainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px; 
}

#navLogo{
    text-decoration: none;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navItem{
    height: 80px;
}

.navLinks{
    text-decoration: none;
    align-items: center;
    display: flex;
    color: whitesmoke;
    padding: 0 17px;
    height: 100%;
}

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button{
    display: flex;
    text-decoration: none;
    background: #f77062;
    color:white;
    padding: 7px 5px 7px 5px;
    border-radius: 3px;
}

.button:hover{
    background: #a200ff ;
    transition: 0.4s  ;
}

.navLinks:hover{
    color: #f77062;
    transition: 0.2s;
}

@media screen and (max-width: 960px){
    .navContainer{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navMenu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: whitesmoke;
    }

    .navMenu.active{
        background: whitesmoke;
        top: 100%;
        opacity: 1;
        transition: all 0.5s    ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navLogo{
        padding-left: 25px;
    }

    .navToggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #f77062;
        display: block;
        cursor: pointer;
    }


    .navItem{
        width: 100%;
    }

    .navLinks{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobileMenu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navButton{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }



    #mobileMenu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobileMenu.is-active .bar:nth-child(2){
        opacity:0;
    }

    #mobileMenu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

.main{
    background: black;
}

.mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    
    height: 90vh;
    z-index:1;
    width: 100%;
    max-width: 1300px;
    position: relative;
}

.mainContent{
    padding: 0 150px;
    padding-bottom: 200px;
    position:absolute;
}

.mainContent h1{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size:100% ;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}
.mainContent h2{
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size:100% ;
    -webkit-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-text-fill-color: transparent;
}
.mainContent p{
    margin-top:1rem;
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

#mainImage{
    width:1200px;
    margin-left:250px;    
}

.mainButton{
    font-size:1rem;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    padding:14px 32px;
    border:none;
    border-radius: 4px;
    margin-top:2rem;
    cursor:pointer;
    position:relative;
    transition: all 0.3s;
    outline:none;
}

.mainButton a{
    position:relative;
    z-index: 2;
    text-decoration: none;
    color: white;

}

.mainButton:after{
    content:'';
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    position: absolute;
    background:#a200ff;
    transition: all 0.3s;
    border-radius:4px;
}

.mainButton:hover{
    color:white;
}
.mainButton:hover:after{
    width: 100%;
}
.mainImageContainer{
    text-align: center;
}